@import 'https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans';

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

.wrapper header {
  background: url(../images/cover-blue.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}

.wrapper header main {
  color: rgba(255,255,255,0.9);
  margin: 0 auto;
  text-transform: uppercase;
  word-spacing: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.wrapper header main h1 {
  margin: 15px 0;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 5px;
}

.wrapper header main h3 {
  font-size: 1em;
  letter-spacing: 2px;
}

.wrapper header nav {
  width: 100%;
  background-color: #001F3F;
  height: 60px;
  box-sizing: border-box;
  bottom: 0;
  position: absolute;
}

.wrapper header nav.fixed {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.wrapper header nav ul a {
  float: left;
  color: #7FBFFF;
  text-transform: uppercase;
  width: 16.6%;
  text-decoration: none;
  max-height: 60px;
  cursor: pointer;
}

.wrapper header nav ul a li {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 700;
  height: 60px;
  list-style: none;
  top: 0;
  line-height: 60px;
}

.wrapper header nav ul a li h4 {
  text-align: center;
}

.wrapper header nav ul a:first-child li {
  font-weight: 900;
  font-size: 1.5em;
  line-height: 55px;
}

.wrapper header nav ul a:first-child:hover {
  background-color: transparent;
}

.wrapper header nav ul a:hover {
  background-color: #1A3959;
}

.wrapper article {
  margin: 75px auto 75px auto;
  padding: 0 10%;
  border-bottom: 1px dotted #001F3F;
  padding-bottom: 50px;
}

.wrapper article h1 {
  margin-bottom: 1px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #001F3F;
}

.wrapper article .content {
  font-family: 'Open Sans', sans-serif;
  color #001F3F;
}

.wrapper article p {
  margin-bottom: 20px;
}

.wrapper section {
  margin: 0 auto;
  padding: 75px 10% 75px 10%;
  background-color: #FAFAFA;
  border-bottom: 1px dotted #001F3F;
}

.wrapper section {
  background-color: #fff;
}

.wrapper section {
  color: #001F3F;
}

.wrapper section h1 {
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 25px 0 35px 0;
  color: #001F3F;
}

.wrapper section p {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  overflow: auto;
  clear: both;
}

.wrapper section .content {
  width: 100%;
  overflow: auto;
}

.wrapper section .content .chart {
  width: 47%;
  float: left;
  padding-right: 3%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.wrapper section .content .chart.full {
  width: 100%;
}

.toggle {
  margin: 10px auto;
  text-align: center;
}

.toggle a {
  display: inline;
  padding: 3px 7px;
  color: #B8BABC;
  text-transform: uppercase;
  font-weight: 700;
}

.toggle a:hover {
  cursor: pointer;
}

.toggle a:first-child.active {
  color: #65B9FC;
}

.toggle a:last-child.active {
  color: #E83738;
}

article p:first-child::first-letter, section h1 + p::first-letter {
  float: left;
  color: #001F3F;
  font-size: 50px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 4px;
  font-family: Georgia;
}

footer {
  background-color: #eee;
  color: #BBBBBB;
  padding: 30px 10%;
}

footer h1 {
  font-size: 1em;
  font-weight: normal;
}

footer h3 {
  font-weight: normal;
  font-size: .8em;
}

@media only screen and (max-width: 750px), only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .wrapper section .content .chart {
    width: 100%;
  }
}
